body {
    background:black;
    color:white;
}


table, th, td, tr {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 1%;
    margin-left:1%;
    margin-right: 1%;
}

th {
    background-color: crimson;
    width:10%;
}